[D-BUS Service]
Name=org.webosinternals.gstservice
Exec=/usr/bin/luna-helper 'luna://com.palm.vm/launch' '{"serviceName":"org.webosinternals.gstservice","className":"org.webosinternals.gstservice.GstService"}'